*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navbar{
    width:65%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}



.navbar ul li{
    list-style:none;
    display: inline-table;
    margin: 0 10px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
    font-size: 14px
}

.profile-data{
    display: block;
    text-align:right;
    align-items: right;
    align-content: right;
    justify-content: space-between;
    padding-bottom: 15px;
}
.profile-data ul li  a{
    color: rgb(88, 168, 195);
}
.banner{
    max-width: 100%;
    height: 300px;
    max-height: 300px;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;


    margin-bottom: 40px;
    
}
.caption{
    
    width: 1000px;
    margin:auto;
    padding: 50px 0;
    display: block;
    text-align: left;
    font-size:20px;
    line-height: 60px;
    letter-spacing: 3px;
    
    
}

.wrap{
    margin: 0px auto;
    max-width: 950px;
}
.viral-atc{
    border-radius: 10px;
    background-color: lightgray;
    display: block;
    width: 130px;
    margin-bottom: 30px;
    color: gray;
}

.white{
    color: white;
}
.black{ 
    width: 75%;
    color: black;
    text-align: center;
    margin: auto 175px;
    padding-bottom: 50px;
}
.blue{
    text-align: center;
    color: #0092D1;
}

.blue-banner{
    text-align: 50px;
    
    background-image: url(Screenshot_1.png);
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding-bottom: 50px;
}
.blue-banner p{
    color: white;
    width: 72%;
    font-size: 25px;
    padding: 20px 30px;
}
.table-view table{
    width: 100%;
    align-items: center;
    text-align: center;
}
.table-view table input[type="text"]{
    width: 100%;
    height: 75px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: lightgray;
    color: lightgray;
    text-align: center;
    font-size: 20px;
    
}
.table-view table input[type="text"]::placeholder{
    color:lightgray;
    
}
.table-view table button{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #A6D04E    ;
    text-align: center;
    width: 100%; height: 50px;
    font-size: 20px;
}

.table-view table td{
    padding: 20px;
}

.table-view table p{
    letter-spacing: 0px;
    line-height: 30px;
    font-size: 18px;
}