*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navbar{
    width:65%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}



.navbar ul li{
    list-style:none;
    display: inline-table;
    margin: 0 10px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
    font-size: 14px
}

.profile-data{
    display: block;
    text-align:right;
    align-items: right;
    align-content: right;
    justify-content: space-between;
    padding-bottom: 15px;
}
.profile-data ul li  a{
    color: rgb(88, 168, 195);
}
.banner{
    max-width: 100%;
    height: 300px;
    max-height: 300px;
    background-image: url(banner.jpg);
    background-size: cover;
    background-position: center;


    margin-bottom: 40px;
    
}
.caption{
    
    width: 1000px;
    margin:auto;
    padding: 50px 0;
    display: block;
    text-align: left;
    font-size:20px;
    line-height: 60px;
    letter-spacing: 3px;
    text-align: left;
    
}

.wrap{
    margin: 0px auto;
    max-width: 950px;
}
.viral-atc{
    border-radius: 10px;
    background-color: lightgray;
    display: block;
    width: 130px;
    margin-bottom: 30px;
    color: gray;
}

.white{
    color: white;
}
.black{ 
    width: 75%;
    color: black;
    text-align: center;
    margin: auto 175px;
    padding-bottom: 50px;
}
.blue{
    text-align: center;
    color: #0092D1;
}

.blue-banner{
    text-align: 50px;
    
    background-image: url(Screenshot_1.png);
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding-bottom: 50px;
}
.blue-banner p{
    color: white;
    width: 72%;
    font-size: 25px;
    padding: 20px 30px;
}
.table-view table{
    width: 100%;
    align-items: center;
    text-align: center;
}
.table-view table input[type="text"]{
    width: 100%;
    height: 75px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: lightgray;
    color: lightgray;
    text-align: center;
    font-size: 20px;
    
}
.table-view table input[type="text"]::placeholder{
    color:lightgray;
    
}
.table-view table button{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #A6D04E    ;
    text-align: center;
    width: 100%; height: 50px;
    font-size: 20px;
}

.table-view table td{
    padding: 20px;
}

.table-view table p{
    letter-spacing: 0px;
    line-height: 30px;
    font-size: 18px;
}

.benefit{
    height: 300px;
    border-style:solid;
    border-width: 3px;
    border-color: lightgray;
    padding: 15px;
    margin: 5px;
    text-align: left;
    border-radius: 5px;
    display: block    ;background-size: cover; background-position:center;
}

.economy{
    text-align: center;
}
.image-block{
    width: 100%;
    height: 100%;
}
.caption ul{
    list-style-image: url(Screenshot_4.png);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    line-height: 100%
}
.caption h2{
    text-align: center;
}
.number{
    position: absolute;
    left: 38px;
    top: -15px;
    color: white;
    font-weight: bold;
}
.how-connect-content{
    position: relative;
    margin-top: 54px;
    padding-top: 10px;
    background: url(howconnectbg.png);
    background-size: cover;
    width: 90%;
    height: 552px;
    margin: 100px;

}
.reg-step-01{
    font-size: 14px;
    position: absolute;
    background: white;
    width: 218px;
    height: 108px;
    border-radius: 5px;
    left: 35px;
    top: 169px;
    padding-top: 37px;
    padding-left: 20px;
    text-align: start   ;
}
.reg-step-02{
    font-size: 14px;
    position: absolute;
    background: white;
    width: 218px;
    height: 108px;
    border-radius: 5px;
    left: 273px;
    top: 169px;
    padding-top: 37px;
    padding-left: 20px;
    text-align: start   ;
}
.reg-step-03{
    font-size: 14px;
    position: absolute;
    background: white;
    width: 218px;
    height: 108px;
    border-radius: 5px;
    left: 511px;
    top: 169px;
    padding-top: 37px;
    padding-left: 20px;
    text-align: start   ;
}
.reg-step-04{
    font-size: 14px;
    position: absolute;
    background: white;
    width: 218px;
    height: 141px;
    border-radius: 5px;
    left: 35px;
    top: 348px;
    padding-top: 37px;
    padding-left: 20px;
    text-align: start   ;
}
.reg-step-05{
    font-size: 14px;
    position: absolute;
    background: white;
    width: 218px;
    height: 141px;
    border-radius: 5px;
    left: 273px;
    top: 348px;
    padding-top: 37px;
    padding-left: 20px;
    text-align: start   ;
}
.reg-step-06{
    font-size: 14px;
    position: absolute;
    background: white;
    width: 218px;
    height: 141px;
    border-radius: 5px;
    left: 511px;
    top: 348px;
    padding-top: 37px;
    padding-left: 20px;
    text-align: start   ;
}

.reg-step-01::before{
    position: absolute;
    left: 20px;
    top: -30px;
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: #29A3DB;
    border: 9px solid #FFFFFF;
    border-radius: 5px;
    transform: rotate(45deg);
    text-align: center;
}
.number{
    position: absolute;
    left: 38px;
    top: -15px;
    color: white;
    font-weight: bold;
}
.reg-step-02::before{
    position: absolute;
    left: 20px;
    top: -30px;
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: #29A3DB;
    border: 9px solid #FFFFFF;
    border-radius: 5px;
    transform: rotate(45deg);
    text-align: center;
}
.reg-step-03::before{
    position: absolute;
    left: 20px;
    top: -30px;
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: #29A3DB;
    border: 9px solid #FFFFFF;
    border-radius: 5px;
    transform: rotate(45deg);
    text-align: center;
}
.reg-step-04::before{
    position: absolute;
    left: 20px;
    top: -30px;
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: #29A3DB;
    border: 9px solid #FFFFFF;
    border-radius: 5px;
    transform: rotate(45deg);
    text-align: center;
}

.reg-step-05::before{
    position: absolute;
    left: 20px;
    top: -30px;
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: #29A3DB;
    border: 9px solid #FFFFFF;
    border-radius: 5px;
    transform: rotate(45deg);
    text-align: center;
}
.reg-step-06::before{
    position: absolute;
    left: 20px;
    top: -30px;
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background: #29A3DB;
    border: 9px solid #FFFFFF;
    border-radius: 5px;
    transform: rotate(45deg);
    text-align: center;
}