*{
    margin: 0;
    padding: 0;
    font-size:16px;
    box-sizing: border-box;
    font-family: OpenSans, arial, sans-serif;
    background-color: #fff;
}

.wrap{
    margin: 0px auto;
    max-width: 1220px;

}
.right-content{
    float: right;
    width: 28%;
    text-align: center;
    vertical-align: center;
}
.left-content{
    float: left;
    width: 70%;
    padding-right: 30px;
    
}

.image-box{
    width: 100%;
    max-width:700px;
    background-color: #f7f7f7dc;
    text-align: center; 
    padding-top: 20px; 
    padding-bottom: 20px;
}

h1{
    font-weight: bold;
    border-bottom: none;
    font-size: 40px;
    line-height: 120%;
    padding: 0;
    margin-top: 40px;
    margin: 30px 0  ;
}

h2{
    margin-top: 40px;
    font-size: 32px;
    font-weight: bold;

    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p{
    
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: #24292E;
    padding-bottom: 10px;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
em{
    font-family: italic;
}

ul{

    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: #24292E;
    margin-bottom: 30px;

    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}
li{
    padding-bottom: 10px;
}

.model-cont{
    width: 280px;
    height: 60px;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 30px;
    background-color: #4472c4;
}
.os-cont{
    width: 450px;
    height: 60px;
    text-align: left;
    background-color: #4472c4;
    color: #FFF;
    padding-left: 5px;
    padding-bottom: 30px;
    

}
.table-container{
    width: 730px;
    border-color: #4472c4;
    background-color: #4472c4;
    color: #FFF;

    
}
.table{
    border-color: #4472c4;

}
.table-cell-model{
    width: 280px;
    height: 60px;
    color: black;
    padding-left: 5px;
    padding-bottom: 30px;
    background-color: #d9e2f3;
}
.table-cell-os{
    width: 450px;
    height: 60px;
    color: gray;
    padding-left: 5px;
    padding-bottom: 30px;
    background-color: #d9e2f3;

}



.rows{
    margin-left: 15px;
    margin-right: 15px;
   
}

.more a {
    display: block;
    color: #000000;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

button, input[type=submit], input[type=button], .button {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    padding: 0 75px 0 25px;
    font: 100 18px/48px OpenSans,arial,sans-serif;
    color: #fff!important;
    background: blue;
    position: relative;
    cursor: pointer;
    transition: all .2s ease-in 0s;
}

.blog-form {
    margin-bottom: 35px;
    padding: 0 36px 18px;
    background: lightgray center no-repeat;
    background-size: cover;
}

.caption {
    background-color: transparent;
    font-weight: bold;
    line-height: 130%;
    font-size: 20px;
    color: #24292E;
    margin-bottom: 20px;
    border: none;
    text-transform: none;
}

input {
    height: 51px;
    width: 270px;
    margin-bottom: 20px;
}

a{
    color: #24292E;
}